In [75]:
import pandas as pd

Mesmo sendo uma base simples ela apreseta um problema serio que impossibilita uma análise 
Qual o problema?
O problema de é a coluna "date" que tem datas no formato BR e também no formarto USA
Vamos tratar?

In [76]:
df = pd.read_csv(r"C:\Users\saull\Documents\Planilhas power bi\Sales\Balaji Fast Food Sales.csv")
df

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
...,...,...,...,...,...,...,...,...,...,...
995,996,3/19/2023,Frankie,Fastfood,50,10,500,NaN,Mrs.,Evening
996,997,9/20/2022,Sandwich,Fastfood,60,7,420,NaN,Mr.,Evening
997,998,1/26/2023,Sandwich,Fastfood,60,13,780,NaN,Mr.,Evening
998,999,8/27/2022,Panipuri,Fastfood,20,5,100,NaN,Mrs.,Afternoon
999,1000,5/29/2022,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [77]:
#Apagando coluna inutil
df = df.drop("order_id",axis=1)

In [78]:
df.isnull().sum()

date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

In [79]:
#Apagando dados faltantes
df.dropna(inplace = True)

In [80]:
df.head()

,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
1,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
5,11/14/2022,Vadapav,Fastfood,20,10,200,Cash,Mr.,Evening

# Tratando o problema

In [90]:

lista = []
for i in df['date']:
    if '-' in i:
        data = i.split('-')
        data[0], data[1] = data[1], data[0]
        data = '/'.join(data)
        # Condição para encontrar a linha desejada
        condicao = df['date'] == i
        # Mudando o valor da célula na coluna 'date' onde a condição é verdadeira
        df.loc[condicao, 'date'] = data

# Transformando coluna em Datetime
df['date'] = pd.to_datetime(df['date'])

8/23/2022
11/20/2022
03/02/2023
02/10/2022
11/14/2022
03/05/2022
12/22/2022
10/06/2022
9/16/2022
01/12/2022
12/07/2022
12/22/2022
11/25/2022
03/02/2023
10/16/2022
05/11/2022
8/22/2022
9/15/2022
12/21/2022
04/10/2022
5/26/2022
11/02/2023
8/31/2022
8/18/2022
12/10/2022
06/01/2023
10/02/2023
1/28/2023
9/14/2022
05/02/2023
04/02/2023
5/22/2022
02/07/2022
05/01/2023
08/03/2023
5/14/2022
05/02/2023
09/05/2022
5/26/2022
8/28/2022
8/15/2022
07/05/2022
2/23/2023
06/11/2022
02/11/2022
5/16/2022
3/16/2023
7/26/2022
12/28/2022
07/05/2022
11/23/2022
04/08/2022
03/02/2023
01/07/2022
11/06/2022
12/25/2022
10/17/2022
01/12/2022
09/12/2022
7/25/2022
05/04/2022
5/15/2022
10/01/2023
05/12/2022
09/03/2023
7/29/2022
8/15/2022
02/02/2023
8/17/2022
04/02/2023
01/10/2022
05/11/2022
5/24/2022
11/19/2022
7/17/2022
03/03/2023
8/19/2022
09/03/2023
5/29/2022
07/07/2022
12/23/2022
10/29/2022
5/13/2022
03/07/2022
12/05/2022
3/29/2023
12/24/2022
11/09/2022
3/26/2023
3/13/2023
3/14/2023
10/27/2022
1/25/2023
2/25/2023
07/02/2023
06/08/2022
11/16/2022
04/09/2022
2/24/2023
12/12/2022
8/14/2022
8/26/2022
09/03/2023
06/07/2022
12/05/2022
10/07/2022
8/26/2022
09/06/2022
10/04/2022
08/04/2022
07/08/2022
10/19/2022
12/28/2022
1/19/2023
05/12/2022
12/20/2022
7/17/2022
1/14/2023
8/24/2022
01/09/2022
2/26/2023
12/06/2022
12/30/2022
11/17/2022
09/10/2022
5/17/2022
3/19/2023
09/08/2022
1/30/2023
10/07/2022
10/24/2022
7/21/2022
12/13/2022
07/02/2023
3/25/2023
2/24/2023
03/10/2022
7/23/2022
1/19/2023
07/05/2022
06/01/2023
10/08/2022
05/01/2023
01/06/2022
2/23/2023
4/19/2022
6/20/2022
02/03/2023
8/27/2022
1/20/2023
03/09/2022
10/17/2022
04/08/2022
7/21/2022
09/12/2022
01/12/2022
09/06/2022
02/07/2022
10/07/2022
03/01/2023
3/15/2023
11/10/2022
12/28/2022
08/02/2023
4/26/2022
5/20/2022
10/26/2022
05/02/2023
12/15/2022
4/23/2022
6/25/2022
08/11/2022
05/01/2023
01/02/2023
12/25/2022
6/30/2022
9/21/2022
11/04/2022
10/24/2022
7/27/2022
2/20/2023
8/26/2022
04/12/2022
4/18/2022
05/05/2022
03/12/2022
07/03/2023
3/23/2023
12/23/2022
01/10/2022
5/13/2022
3/26/2023
11/09/2022
9/21/2022
3/23/2023
3/16/2023
12/12/2022
11/17/2022
05/11/2022
4/16/2022
4/23/2022
7/31/2022
7/27/2022
11/29/2022
08/11/2022
4/26/2022
04/12/2022
11/12/2022
06/06/2022
12/23/2022
12/11/2022
11/22/2022
03/10/2022
11/16/2022
4/17/2022
10/26/2022
11/15/2022
3/26/2023
6/18/2022
3/16/2023
03/01/2023
06/09/2022
11/18/2022
10/09/2022
11/01/2023
6/19/2022
7/18/2022
8/15/2022
02/10/2022
05/03/2023
05/02/2023
07/09/2022
03/05/2022
7/29/2022
8/15/2022
04/01/2023
04/02/2023
9/30/2022
08/12/2022
6/19/2022
9/14/2022
09/10/2022
09/08/2022
02/07/2022
06/08/2022
8/22/2022
11/28/2022
03/05/2022
1/27/2023
1/16/2023
4/21/2022
9/23/2022
7/21/2022
06/02/2023
4/30/2022
7/19/2022
7/22/2022
6/27/2022
1/28/2023
3/21/2023
02/07/2022
5/28/2022
03/03/2023
2/13/2023
12/17/2022
10/14/2022
4/25/2022
12/28/2022
4/19/2022
2/27/2023
2/20/2023
02/11/2022
10/03/2023
12/21/2022
6/30/2022
3/18/2023
08/02/2023
05/05/2022
12/29/2022
7/18/2022
03/05/2022
11/29/2022
6/16/2022
10/01/2023
8/21/2022
10/30/2022
04/04/2022
10/24/2022
10/15/2022
06/05/2022
02/06/2022
3/19/2023
11/03/2023
1/18/2023
5/13/2022
09/05/2022
1/31/2023
6/24/2022
9/19/2022
8/17/2022
9/21/2022
08/07/2022
5/25/2022
5/18/2022
1/16/2023
3/15/2023
5/26/2022
9/21/2022
10/27/2022
8/27/2022
06/10/2022
12/30/2022
09/05/2022
11/10/2022
08/07/2022
11/30/2022
8/31/2022
03/07/2022
10/18/2022
08/05/2022
7/24/2022
11/17/2022
04/12/2022
5/20/2022
4/24/2022
10/20/2022
2/26/2023
8/16/2022
06/05/2022
10/22/2022
4/25/2022
11/23/2022
3/17/2023
09/10/2022
12/22/2022
4/21/2022
9/18/2022
02/07/2022
03/04/2022
1/31/2023
10/31/2022
06/07/2022
1/13/2023
6/24/2022
04/03/2023
11/10/2022
3/19/2023
9/25/2022
11/26/2022
12/13/2022
10/13/2022
02/01/2023
05/10/2022
9/15/2022
11/23/2022
11/20/2022
03/04/2022
05/12/2022
1/16/2023
12/11/2022
1/30/2023
3/24/2023
02/08/2022
10/21/2022
4/21/2022
8/17/2022
1/20/2023
5/21/2022
12/24/2022
9/19/2022
05/11/2022
3/16/2023
3/27/2023
5/27/2022
8/21/2022
08/05/2022
05/01/2023
6/20/2022
9/30/2022
11/28/2022
02/11/2022
8/22/2022
05/09/2022
10/22/2022
8/31/2022
1/17/2023
7/27/2022
09/09/2022
5/20/2022
3/15/2023
12/25/2022
10/20/2022
07/03/2023
01/03/2023
10/16/2022
12/09/2022
08/06/2022
11/20/2022
7/22/2022
4/24/2022
11/06/2022
10/18/2022
1/15/2023
11/01/2023
10/17/2022
08/09/2022
5/15/2022
9/29/2022
2/13/2023
04/09/2022
8/28/2022
2/24/2023
02/02/2023
2/13/2023
12/27/2022
2/13/2023
02/10/2022
10/29/2022
1/31/2023
4/27/2022
3/21/2023
2/26/2023
2/14/2023
5/27/2022
9/21/2022
03/02/2023
12/26/2022
5/31/2022
11/07/2022
02/10/2022
1/14/2023
10/20/2022
07/11/2022
1/25/2023
6/16/2022
7/27/2022
08/04/2022
09/08/2022
04/01/2023
04/11/2022
09/12/2022
12/02/2023
12/26/2022
12/14/2022
10/12/2022
10/26/2022
04/04/2022
02/08/2022
11/01/2023
7/16/2022
8/24/2022
9/22/2022
02/07/2022
09/12/2022
11/25/2022
03/04/2022
1/27/2023
12/29/2022
03/11/2022
01/05/2022
04/05/2022
04/07/2022
06/01/2023
01/07/2022
7/27/2022
04/10/2022
3/27/2023
5/16/2022
05/09/2022
01/03/2023
1/25/2023
05/06/2022
07/09/2022
5/27/2022
7/30/2022
04/08/2022
10/04/2022
12/14/2022
01/01/2023
09/07/2022
5/14/2022
3/29/2023
4/15/2022
11/15/2022
7/30/2022
12/09/2022
11/11/2022
09/03/2023
4/16/2022
2/27/2023
6/30/2022
01/10/2022
8/31/2022
10/12/2022
6/13/2022
09/08/2022
10/13/2022
9/27/2022
7/19/2022
10/16/2022
02/01/2023
9/15/2022
11/28/2022
02/04/2022
07/09/2022
10/22/2022
12/24/2022
3/23/2023
06/09/2022
6/30/2022
4/27/2022
01/07/2022
4/23/2022
12/05/2022
5/31/2022
04/12/2022
05/03/2023
5/22/2022
09/04/2022
6/16/2022
8/25/2022
3/27/2023
01/10/2022
04/12/2022
2/16/2023
1/20/2023
2/22/2023
4/26/2022
11/30/2022
02/08/2022
03/10/2022
12/24/2022
01/11/2022
8/27/2022
8/31/2022
08/09/2022
09/04/2022
12/15/2022
2/28/2023
08/05/2022
6/25/2022
06/02/2023
10/06/2022
7/15/2022
6/28/2022
08/04/2022
09/09/2022
9/14/2022
2/13/2023
12/14/2022
02/04/2022
08/03/2023
6/17/2022
01/02/2023
6/22/2022
1/20/2023
01/07/2022
10/28/2022
5/24/2022
7/26/2022
06/02/2023
5/14/2022
8/20/2022
1/26/2023
04/01/2023
09/02/2023
09/05/2022
10/20/2022
03/02/2023
7/26/2022
8/30/2022
05/06/2022
5/27/2022
05/11/2022
07/04/2022
11/07/2022
5/21/2022
5/30/2022
04/03/2023
6/30/2022
11/28/2022
1/21/2023
7/25/2022
11/10/2022
2/15/2023
05/02/2023
10/31/2022
06/05/2022
1/25/2023
9/28/2022
11/05/2022
3/18/2023
05/07/2022
09/10/2022
9/17/2022
4/17/2022
04/05/2022
5/19/2022
5/23/2022
02/11/2022
4/20/2022
09/12/2022
11/10/2022
12/08/2022
9/18/2022
5/20/2022
11/25/2022
12/18/2022
5/14/2022
8/13/2022
05/10/2022
01/04/2022
1/13/2023
11/29/2022
4/22/2022
8/24/2022
2/23/2023
05/05/2022
11/26/2022
09/09/2022
11/15/2022
7/19/2022
3/25/2023
01/11/2022
8/14/2022
07/10/2022
05/02/2023
12/16/2022
3/15/2023
2/22/2023
10/30/2022
12/17/2022
02/12/2022
12/14/2022
12/04/2022
03/12/2022
12/28/2022
09/05/2022
10/05/2022
2/16/2023
6/27/2022
04/07/2022
11/09/2022
8/25/2022
03/08/2022
11/24/2022
6/28/2022
09/03/2023
03/02/2023
07/10/2022
10/08/2022
9/20/2022
01/03/2023
06/06/2022
7/30/2022
7/16/2022
11/18/2022
09/11/2022
6/25/2022
11/09/2022
05/08/2022
1/14/2023
9/20/2022
8/31/2022
01/02/2023
9/16/2022
04/06/2022
6/26/2022
12/29/2022
02/01/2023
10/21/2022
12/25/2022
9/25/2022
12/25/2022
11/14/2022
09/04/2022
2/14/2023
6/15/2022
6/19/2022
2/26/2023
12/01/2023
07/06/2022
2/22/2023
8/15/2022
3/20/2023
8/14/2022
3/15/2023
3/27/2023
07/02/2023
10/23/2022
11/06/2022
11/27/2022
5/27/2022
12/16/2022
4/29/2022
09/07/2022
07/12/2022
3/13/2023
3/25/2023
8/13/2022
03/08/2022
7/20/2022
2/25/2023
8/30/2022
02/10/2022
10/01/2023
6/25/2022
11/26/2022
11/01/2023
06/11/2022
4/28/2022
1/23/2023
11/10/2022
08/05/2022
5/23/2022
6/13/2022
9/21/2022
12/12/2022
12/27/2022
02/03/2023
08/08/2022
10/13/2022
05/10/2022
4/20/2022
11/01/2023
5/21/2022
2/28/2023
12/10/2022
7/24/2022
6/17/2022
2/13/2023
1/18/2023
10/30/2022
02/12/2022
06/01/2023
8/18/2022
9/19/2022
01/08/2022
06/06/2022
01/09/2022
5/25/2022
9/27/2022
8/31/2022
5/19/2022
7/31/2022
08/05/2022
03/02/2023
5/25/2022
04/07/2022
04/05/2022
01/07/2022
4/20/2022
8/14/2022
10/11/2022
03/11/2022
8/20/2022
1/28/2023
05/05/2022
2/17/2023
10/14/2022
10/23/2022
04/05/2022
08/11/2022
11/22/2022
08/10/2022
7/16/2022
1/24/2023
10/03/2023
08/09/2022
8/20/2022
1/23/2023
8/13/2022
1/26/2023
8/17/2022
6/26/2022
10/31/2022
7/14/2022
09/05/2022
09/05/2022
05/08/2022
10/06/2022
10/27/2022
12/08/2022
06/11/2022
6/25/2022
5/25/2022
4/23/2022
8/24/2022
01/03/2023
10/16/2022
7/21/2022
10/24/2022
05/09/2022
12/04/2022
03/03/2023
12/27/2022
7/14/2022
7/13/2022
3/19/2023
03/01/2023
10/30/2022
8/22/2022
02/03/2023
1/24/2023
07/12/2022
12/24/2022
11/23/2022
01/01/2023
12/03/2023
12/13/2022
04/04/2022
06/03/2023
2/21/2023
09/10/2022
09/04/2022
9/17/2022
2/15/2023
01/03/2023
07/10/2022
5/15/2022
12/11/2022
03/01/2023
12/07/2022
9/21/2022
6/13/2022
5/30/2022
12/17/2022
10/04/2022
2/27/2023
07/04/2022
06/06/2022
11/27/2022
6/26/2022
10/18/2022
1/21/2023
9/19/2022
2/17/2023
6/22/2022
10/08/2022
2/19/2023
07/02/2023
10/02/2023
7/20/2022
6/30/2022
12/05/2022
5/15/2022
2/21/2023
8/16/2022
1/16/2023
07/01/2023
9/25/2022
11/11/2022
9/24/2022
10/11/2022
1/31/2023
1/27/2023
4/30/2022
08/02/2023
5/22/2022
11/28/2022
12/08/2022
3/14/2023
5/18/2022
05/10/2022
07/05/2022
08/10/2022
3/19/2023
6/29/2022
09/08/2022
06/11/2022
11/21/2022
02/10/2022
11/03/2023
1/28/2023
1/15/2023
05/01/2023
08/10/2022
5/21/2022
6/20/2022
1/22/2023
3/30/2023
07/01/2023
6/14/2022
4/30/2022
04/01/2023
11/10/2022
11/24/2022
1/18/2023
10/21/2022
7/17/2022
01/11/2022
6/18/2022
5/29/2022

#### Problema resolvido

,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
1,2022-08-23,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,2022-11-20,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,2023-03-02,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,2022-02-10,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening
5,2022-11-14,Vadapav,Fastfood,20,10,200,Cash,Mr.,Evening
...,...,...,...,...,...,...,...,...,...
991,2022-10-21,Sandwich,Fastfood,60,5,300,Cash,Mr.,Morning
992,2022-07-17,Frankie,Fastfood,50,3,150,Online,Mrs.,Night
993,2022-01-11,Panipuri,Fastfood,20,2,40,Online,Mrs.,Evening
994,2022-06-18,Sugarcane juice,Beverages,25,1,25,Online,Mr.,Night
999,2022-05-29,Aalopuri,Fastfood,20,3,60,Online,Mrs.,Midnight

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 893 entries, 1 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                893 non-null    datetime64[ns]
 1   item_name           893 non-null    object
 2   item_type           893 non-null    object
 3   item_price          893 non-null    int64
 4   quantity            893 non-null    int64
 5   transaction_amount  893 non-null    int64
 6   transaction_type    893 non-null    object
 7   received_by         893 non-null    object
 8   time_of_sale        893 non-null    object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 69.8+ KB

In [94]:
df.to_csv('fast food sales',index= False)